body {
    background: #000000;
    background-image: url(../Imagens/S8e1dm.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 99% 100%;
}

headerContainer {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: 'Square Peg', cursive;
    color: #5e35356a;
    font-size: 60px;
    position: absolute;
    top: -14px;
}

#Navegação {
    right: 200px;
    width: 12%;
    position: absolute;
    top: 40px;
}

#Navegação ul {
        font-size: 20px;
        font-family: 'Square Peg', cursive;
        display: inline-flex;
        list-style: none;
    }

#Navegação ul li {
    padding-left: 30px;
}

#Navegação ul li a {
        color: #5e35356a;
    }

#asideDireita {
    right:30px;
    position:absolute;
    top:150px;
}

#linkYt a:hover {
    background-color: #312d2d51;
    display: block;
    margin: 10px;
    padding: 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 20px #752c08;
    -webkit-transform: rotate(-12deg);
    -moz-box-shadow: 2px 2px 20px #25282531;
    -moz-transform: rotate(-10deg);
}

#linkYt {
    border:dashed;
    border-color:#34292954;
    border-width:4px;
    
}

#Gametext h2 {
    width:40%;
    color: #808080;
    text-align:left;
    position:absolute;
    top:150px;
}

#sinit1 {
    position:absolute;
    width:35%;
    height:300px;
    top:650px;
    left:30px
}

#TxtImg {
    width: 20%;
    color: #808080;
    position: absolute;
    top: 650px;
    left: 500px;
}

#sinit2 {
    position: absolute;
    width: 35%;
    height: 300px;
    top: 650px;
    right:50px;
}

footer {
    font-family: 'Bebas Neue', cursiva;
    color: #5e35356a;
    width: 1250px;
    text-align: center;
    background-color: #1405055d;
    position: absolute;
    font-weight: bold;
    padding: 0px;
    top: 1000px;
}